@model IEnumerable<Social_orm.Models.Loans>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.paymentfrequency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.paymentvalue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherDebts)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.paymentfrequency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.paymentvalue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherDebts)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
