@model IEnumerable<Social_orm.Models.Belongings>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.houses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lands)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rentIncomeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rentIncomeAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.houses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lands)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rentIncomeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rentIncomeAmount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
