@model Social_orm.Models.Disease

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Disease</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiseaseType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiseaseType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicineName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicineName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicineCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicineCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.beneficiar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.beneficiar.FullName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.child)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.child.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wife)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wife.FullName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Cancel">Back</a>
    </form>
</div>
